<h1>Users</h1>

<div id="articles">
<% @users.each do |user| %>
  <h2><%= link_to user.name, user %></h2>
  <p><span> Provider:</span> <%= user.provider %></p>
  <p><span> Token: </span> <%= user.access_token %></p>
  </div>
<% end %>
</div>

